.bgimg-1 {
    background-image: url('../img/main.jpg');
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("../img/portafolio.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("../img/contacto.jpg");
    min-height: 400px;
}